<a href="https://colab.research.google.com/github/BasilaThasni/DSML-Python-Tasks/blob/main/ListTupleDict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TASK 3

###1. Write a Python program to sum all the items in a list.

In [ ]:
thelist=[23,44,1,246,90,88,456,4,54]
sum(thelist)

1006

###2. Write a Python program to get the largest number from a list.

In [ ]:
max(thelist)

456

###3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

In [ ]:
newlist=[23,4,56,77,56,26,56,23]
len(newlist)

8

###4. Write a Python program to remove duplicates from a list.

In [5]:
list1 = [10, 20, 10, 30, 40, 50, 30]
def remove_duplicates(list1):
  # create a new list to store unique elements
  list2 = []

  # iterate over the original list
  for x in list1:
    # check if the element is not already in the list2
    if x not in list2:
      # add the element to the list2
      list2.append(x)
  return (list2)
result = remove_duplicates(list1)
print(str(result))

[10, 20, 30, 40, 50]

###5.Write a Python program to check if a list is empty or not.

In [6]:
listA=[2,45,"car",3.45,5,67,88]
if len(listA)==0:
  print("listA is empty")
else :
  print("listA is not empty")

listB =[]
if len(listB)==0:
  print("listB is empty")
else:
  print("listB is not empty")

listA is not empty
listB is empty

###6. Write a Python program to filter the list if the length of the character is < 4

In [8]:
students=["Sarath","Anu","John","Tom","Michael","Jim","kim"]
new=[]
for x in students:
  if len(x)<4:
    new.append(x)
print(new)

['Anu', 'Tom', 'Jim', 'kim']

###7.Write a Python program to find the second largest number in a list.

In [10]:
x = [100, 24, 4, 45, 99]
x.sort()
print(x[-2])

99

###8. Write a Python program to reverse a list at a specific location.

In [11]:
def reverse_list_at_index(list1, index):
  first_half = list1[:index]
  second_half = list1[index:]

  # Reverse the second half of the list.
  second_half_reversed = second_half[::-1]

  # Combine the two halves and return the new list.
  new_list = first_half + second_half_reversed
  return new_list

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index = 5
reversed_list = reverse_list_at_index(list1, index)
print(reversed_list)

[1, 2, 3, 4, 5, 10, 9, 8, 7, 6]

###9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [12]:
def is_palindrome(list1):

  # Check if the list is empty or has only one element.
  if len(list1) <= 1:
    return True

  # Compare the first and last elements, second and second-to-last elements, and so on.
  for i in range(len(list1) // 2):
    if list1[i] != list1[len(list1) - i - 1]:
      return False

  # If all comparisons are True, the list is a palindrome.
  return True

list1 = [1, 2, 3, 2, 1]
print(is_palindrome(list1))

list2 = [1, 2, 3, 4, 5]
print(is_palindrome(list2))

True
False

###10. Write a Python a program to find the union and intersection of two lists.

In [13]:
def find_union_and_intersection(list1, list2):

  # Find the union of the two lists.
  union = list(set(list1 + list2))

  # Find the intersection of the two lists.
  intersection = list(set(list1).intersection(list2))

  # Return the union and intersection.
  return union, intersection


# Driver code
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
union, intersection = find_union_and_intersection(list1, list2)
print("Union:", union)
print("Intersection:", intersection)

Union: [1, 2, 3, 4, 5, 6, 7]
Intersection: [3, 4, 5]

###11.Write a Python script to sort (ascending and descending) a dictionary by value

In [15]:
def sort_dict_by_value(dict1, order='ascending'):

  # Sort the dictionary by values in ascending order by default.
  sorted_dict = {}
  for key, value in sorted(dict1.items(), key=lambda item: item[1]):
    sorted_dict[key] = value

  # Reverse the dictionary if descending order is desired.
  if order == 'descending':
    sorted_dict = dict(reversed(sorted_dict.items()))

  return sorted_dict
dict1 = {'a': 5, 'b': 2, 'c': 3, 'd': 1, 'e': 4}

print("Original dictionary")
print(dict1)

print("\nDictionary sorted by values in ascending order:")
print(sort_dict_by_value(dict1))

print("\nDictionary sorted by values in descending order:")
print(sort_dict_by_value(dict1, order='descending'))

Original dictionary
{'a': 5, 'b': 2, 'c': 3, 'd': 1, 'e': 4}

Dictionary sorted by values in ascending order:
{'d': 1, 'b': 2, 'c': 3, 'e': 4, 'a': 5}

Dictionary sorted by values in descending order:
{'a': 5, 'e': 4, 'c': 3, 'b': 2, 'd': 1}

###

###12. Write a Python script to check whether a given key already exists in a dictionary.

In [16]:
def check_key_exists(dict1, key):

  # Check if the key is in the dictionary.
  if key in dict1:
    return True
  else:
    return False

dict1 = {'a': 5, 'b': 2, 'c': 3, 'd': 1, 'e': 4}

key = 'a'
print(f"Is '{key}' in the dictionary? {check_key_exists(dict1, key)}")

key = 'f'
print(f"Is '{key}' in the dictionary? {check_key_exists(dict1, key)}")

Is 'a' in the dictionary? True
Is 'f' in the dictionary? False

###14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

In [3]:
def sum_dict_values(dict1):

  sum_of_values = 0

  for value in dict1.values():
    sum_of_values += value

  # Return the sum of all values.
  return sum_of_values

dict1 = {'a': 5, 'b': 2, 'c': 3, 'd': 1, 'e': 4}

print("Sum of all values in the dictionary:", sum_dict_values(dict1))

Sum of all values in the dictionary: 15

###14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

In [2]:
def create_square_dict(max_number):

  # Check if the input number is less than 10.
  if max_number < 10:
    print("Input number should be greater than or equal to 10.")
    return

  # Create a dictionary with numbers as keys and their squares as values.
  square_dict = {}
  for i in range(1, max_number + 1):
    square_dict[i] = i ** 2

  return square_dict

max_number = int(input("Enter a number: "))

square_dict = create_square_dict(max_number)

if square_dict:
  print("Dictionary:", square_dict)

Enter a number: 11
Dictionary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

###15.Write a Python program to sort a given dictionary by key.

In [4]:
def sort_dict_by_key(dict1):

  sorted_dict = {k: v for k, v in sorted(dict1.items())}

  return sorted_dict

dict1 = {'d': 1, 'a': 5, 'c': 3, 'b': 2, 'e': 4}

print("The dictionary:")
print(dict1)

print("\nDictionary sorted by key:")
print(sort_dict_by_key(dict1))

The dictionary:
{'d': 1, 'a': 5, 'c': 3, 'b': 2, 'e': 4}

Dictionary sorted by key:
{'a': 5, 'b': 2, 'c': 3, 'd': 1, 'e': 4}

###16.  Write a Python program to create a dictionary from a string.

In [8]:
def create_dict_from_string_simple(string):

  # Initialize an empty dictionary.
  letter_counts = {}

  # Loop through each character in the string.
  for char in string:
    if char in letter_counts:
      letter_counts[char] += 1
    else:

      letter_counts[char] = 1

  # Return the dictionary with letter counts.
  return letter_counts

string = "myworld"

letter_counts_dict = create_dict_from_string_simple(string)

print("Dictionary with letter counts:")
print(letter_counts_dict)

Dictionary with letter counts:
{'m': 1, 'y': 1, 'w': 1, 'o': 1, 'r': 1, 'l': 1, 'd': 1}

###17. Write a Python program to get the top three items in a shop.

In [13]:
def top_three_items(items_data):

  # Sort the dictionary by sales in descending order.
  sorted_data = sorted(items_data.items(), key=lambda item: item[1], reverse=True)

  # Extract the top three items.
  top_three_items = [item[0] for item in sorted_data[:3]]

  # Return the list of top three items.
  return top_three_items

items_data = {'item1': 45.50, 'item2': 35, 'item3': 41.30, 'item4': 55, 'item5': 24}

top_three_items = top_three_items(items_data)

for item in top_three_items:
  print(f"{item} {items_data[item]:.2f}")

item4 55.00
item1 45.50
item3 41.30