<a href="https://colab.research.google.com/github/BasilaThasni/DSML-Python-Tasks/blob/main/Python_TASK_4_(MAP).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercise 1: Create a function with a default argument

##Write a program to create a function show_employee() using the following conditions.
*It should accept the employeeâ€™s name and salary and display both.

*If the salary is missing in the function call then assign default value 9000 to salary

In [ ]:
def show_employee(name,salary=30000):
  print(f"Name of employee:{name} , Salary:{salary}")

show_employee("Paul",35000)
show_employee("fathima")

Name of employee:Paul , Salary:35000
Name of employee:fathima , Salary:30000

#Exercise 2: Create an inner function to calculate the addition in the following way

##*Create an outer function that will accept two parameters, a and b

##*Create an inner function inside an outer function that will calculate the addition of a and b

##*At last, an outer function will add 5 into addition and return it

In [ ]:
def outer_function(a, b):
    def inner_function():
        return a + b

    addition_result = inner_function()  # Calling the inner function to get the addition result
    result = addition_result + 5       # Adding 5 to the addition result

    return result

# Example usage:
result = outer_function(7, 10)
print("Result:", result)  # Output will be 12 (7+10+5 = 26))

Result: 22

#Exercise 3: Generate a Python list of all the even numbers between 4 to 30

In [ ]:
even_numbers=[num for num in range(4,30) if num%2==0]

print(even_numbers)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

#Exercise 4: Lambda Function to Check if value is in a List

In [ ]:
newlist=[2,3,4,5,6,7,8,9]
x=int(input("Enter a number: "))
check_value=lambda x:x in newlist

if check_value(x):
  print(f"{x} is in the list")
else:
  print(f"{x} is not in the list")

Enter a number: 6
6 is in the list

#Exercise 5: Sort list of tuples with their sum

In [ ]:
points = [(1, 2), (5, 3), (0, 7), (3, 1)]

# Sort the list of tuples based on the sum of elements in each tuple
sorted_points = sorted(points, key=lambda x: x[0] + x[1])

# Print the sorted list
print("Sorted points based on sum of elements:", sorted_points)

Sorted points based on sum of elements: [(1, 2), (3, 1), (0, 7), (5, 3)]

#Exercise 6 :
Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [ ]:
def find_even_digit_numbers():
    results = []
    for num in range(1000, 3001):
        digits = [int(digit) for digit in str(num)]
        if all(digit % 2 == 0 for digit in digits):
            results.append(num)
    return results

even_digit_numbers = find_even_digit_numbers()
print(even_digit_numbers)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

#Exercise 7 :
##Write a python function that accepts a sentence and calculate and return the number of letters and digits.

In [ ]:
def count_letters_and_digits(sentence):
    letters = 0
    digits = 0

    for char in sentence:
        if char.isalpha():
            letters += 1
        elif char.isdigit():
            digits += 1

    return letters, digits
sentence=input("Enter a sentence: ")
letters, digits = count_letters_and_digits(sentence)
print("Letters:", letters)
print("Digits:", digits)

Enter a sentence: Everyone one should be ready in 50 minutes
Letters: 33
Digits: 2

#Exercise 8  MAP:
##Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [2]:
def to_uppercase(s):
    """Convert all characters to uppercase and eliminate duplicates."""
    seen = set()
    result = []
    for char in s.upper():
        if char not in seen:
            seen.add(char)
            result.append(char)
    return ''.join(result)

def to_lowercase(s):
    """Convert all characters to lowercase and eliminate duplicates."""
    seen = set()
    result = []
    for char in s.lower():
        if char not in seen:
            seen.add(char)
            result.append(char)
    return ''.join(result)

def process_sequence(seq):
    """Process the given sequence to uppercase and lowercase versions without duplicates."""
    upper_result = map(to_uppercase, [seq])
    lower_result = map(to_lowercase, [seq])
    return list(upper_result)[0], list(lower_result)[0]

# Example usage
sequence = "AAaabBBBCccCCcDDddDDeeeEEEEfFFffff"
upper_case, lower_case = process_sequence(sequence)
print("Uppercase without duplicates:", upper_case)
print("Lowercase without duplicates:", lower_case)

Uppercase without duplicates: ABCDEF
Lowercase without duplicates: abcdef

#Exercise 9 MAP:
##Write a Python program to element wise add two given lists and find the difference between them. Use the map() function

In [3]:
def add_lists(list1, list2):
    """Add elements of two lists element-wise."""
    return list(map(lambda x, y: x + y, list1, list2))

def subtract_lists(list1, list2):
    """Subtract elements of the second list from the first list element-wise."""
    return list(map(lambda x, y: x - y, list1, list2))

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [5, 4, 3, 2, 1]

sum_result = add_lists(list1, list2)
diff_result = subtract_lists(list1, list2)

print("Element-wise addition:", sum_result)
print("Element-wise difference:", diff_result)

Element-wise addition: [6, 6, 6, 6, 6]
Element-wise difference: [-4, -2, 0, 2, 4]

#Exercise 10 Filter:
##Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.

In [4]:
#dictionary of students with height and weight
students = {
    'Cierra Vega': (6.2, 71),
    'Alden Cantrell': (5.9, 65),
    'Kierra Gentry': (6.0, 68),
    'Pierre Cox': (5.8, 66)
}

#filtering
min_height = 6.0
min_weight = 70

filtered_students = dict(filter(lambda item: item[1][0] > min_height and item[1][1] > min_weight, students.items()))

#filtered dictionary
print("Height > 6ft and Weight > 70kg:", filtered_students)

Height > 6ft and Weight > 70kg: {'Cierra Vega': (6.2, 71)}

#Exercise 11 Filter:
##Write a Python program to remove all elements from a given list present in another list using lambda.

In [5]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]

#to remove elements in list1 that are in list2
filtered_list = list(filter(lambda x: x not in list2, list1))

#filtered list
print("Filtered list:", filtered_list)

Filtered list: [1, 3, 5, 7, 9, 10]

#Exercise 12 Reduce:
##Write a Python program to calculate the product of a given list of numbers using lambda.

In [7]:
from functools import reduce

numbers = [1, 2, 3, 4, 5,6,7,8,9,10]

product = reduce(lambda x, y: x * y, numbers)

print("Product of the list:", product)

Product of the list: 3628800

#Exercise 13 Reduce:
## Write a Python program to multiply all the numbers in a given list using lambda.

In [10]:
from functools import reduce

newnumbers = [4,3,2,2,-1,18]

product = reduce(lambda x,y:x*y,newnumbers)

print("Product of the numbers in the list is",product)

Product of the numbers in the list is -864

#Exercise 14 Reduce:
##Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.

In [30]:
# Original tuple of tuples
numbers = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

# Calculate the number of tuples
num_tuples = len(numbers)

# Using zip to transpose the tuple of tuples and map to calculate the averages
averages = list(map(lambda x: sum(x) / num_tuples, zip(*numbers)))

# Output the average values
print("Average value of the numbers of the said tuple of tuples:", averages)

Average value of the numbers of the said tuple of tuples: [30.5, 34.25, 27.0]

#Exercise 15:
##Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.

In [31]:
mixed_list = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

# Sorting the mixed list using sorted() with a lambda function as key
sorted_list = sorted(mixed_list, key=lambda x: (isinstance(x, str), x))

# Output the sorted list
print("Sorted mixed list of integers and strings:", sorted_list)

Sorted mixed list of integers and strings: [1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

#Exercise 16:
##Write a Python program to count the occurrences of items in a given list using lambda.

In [36]:
original_list = [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

# Using map and lambda to count occurrences
count_dict = dict(map(lambda x: (x, original_list.count(x)), original_list))

# Output the count dictionary
print("Count the occurrences of the items in the said list:",count_dict)

Count the occurrences of the items in the said list: {3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

#Exercise 17:
##Write a Python program to remove None values from a given list using the lambda function.

In [35]:
original_list = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

# Using filter and lambda to remove None values
filtered_list = list(filter(lambda x: x is not None, original_list))

# Output the filtered list
print("Remove None value from the said list:",filtered_list)

Remove None value from the said list: [12, 0, 23, -55, 234, 89, 0, 6, -12]